html {
    margin: auto;
    background: linear-gradient(
      135deg,
      #000 0%,
      #292 10%,
      #992 40%,
      #299 50%,
      #929 50%,
      #922 60%,
      #229 90%,
      #fff 100%
    );
    background-repeat: repeat;
    background-size: 120px 120px;
}
head, body, footer {
    background-color: hsla(33, 97%, 69%, 0.801);
    margin: 2%;
    padding: 1%;
    box-shadow: -10px 7px 8px 9px rgba(54, 1, 1, 0.666);
}

.head-text {
  background-color: hwb(64 17% 11% / 0.918);
  margin: 2%;
  padding: 1%;
  box-shadow: -10px 7px 8px 9px rgba(54, 1, 1, 0.666);
}

.main-body {
  background-color: hsla(266, 100%, 79%, 0.781);
  border-radius: 18%;
  padding: 2%;
  border: #292;
  margin: 2%;
  text-shadow: #222;
  box-shadow: -10px 7px 8px 9px rgba(54, 1, 1, 0.666);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1d1d1;
  box-shadow: -10px 7px 8px 9px rgba(54, 1, 1, 0.666);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}