body {
    margin: auto;
    background: linear-gradient(
      135deg,
      #000 0%,
      #292 10%,
      #992 40%,
      #299 50%,
      #929 50%,
      #922 60%,
      #229 90%,
      #fff 100%
    );
    background-repeat: repeat;
    background-size: 120px 120px;
  }
  .sub-body {
    background-color: hsla(33, 75%, 63%, 0.795);
    margin: 8%;
    border-radius: 4%;
    margin-block: 4%;
  }
  .main-body {
    background-color: hsla(244, 80%, 63%, 0.603);
    border-radius: 5%;
    border: #292;
    margin: 8%;
    box-shadow: #000;
    text-shadow: #222;
  }
p {
    color: #929;
}

h2 {
    color: #123;
}